-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: contratos_idaf
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aditivos`
--

DROP TABLE IF EXISTS `aditivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aditivos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `contrato_id` int NOT NULL,
  `numero_aditivo` varchar(50) NOT NULL,
  `tipo` enum('prazo','valor','prazo_e_valor','objeto','rescisao') NOT NULL,
  `data_assinatura` date NOT NULL,
  `nova_data_vencimento` date DEFAULT NULL,
  `valor_acrescimo` decimal(15,2) DEFAULT '0.00',
  `valor_reducao` decimal(15,2) DEFAULT '0.00',
  `justificativa` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `contrato_id` (`contrato_id`),
  CONSTRAINT `aditivos_ibfk_1` FOREIGN KEY (`contrato_id`) REFERENCES `contratos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aditivos`
--

LOCK TABLES `aditivos` WRITE;
/*!40000 ALTER TABLE `aditivos` DISABLE KEYS */;
/*!40000 ALTER TABLE `aditivos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contratos`
--

DROP TABLE IF EXISTS `contratos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contratos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `numero` varchar(50) NOT NULL,
  `numero_processo` varchar(50) DEFAULT NULL,
  `licitacao_id` int DEFAULT NULL,
  `fornecedor_id` int DEFAULT NULL,
  `fornecedor_nome` varchar(255) DEFAULT NULL,
  `fornecedor_cnpj` char(18) DEFAULT NULL,
  `objeto` text NOT NULL,
  `modalidade` enum('pregao_eletronico','pregao_presencial','concorrencia','tomada_de_precos','convite','dispensa','inexigibilidade','chamamento_publico') DEFAULT NULL,
  `valor_total` decimal(15,2) NOT NULL,
  `saldo_atual` decimal(15,2) NOT NULL,
  `data_assinatura` date NOT NULL,
  `data_inicio` date NOT NULL,
  `data_vencimento` date NOT NULL,
  `status_manual` enum('ativo','encerrado','suspenso','rescindido') DEFAULT NULL,
  `gestor_nome` varchar(150) DEFAULT NULL,
  `gestor_matricula` varchar(50) DEFAULT NULL,
  `fiscal_nome` varchar(150) DEFAULT NULL,
  `fiscal_matricula` varchar(50) DEFAULT NULL,
  `dotacao_orcamentaria` varchar(100) DEFAULT NULL,
  `observacoes` text,
  `origem` enum('manual','importacao','pdf') NOT NULL DEFAULT 'manual',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `licitacao_id` (`licitacao_id`),
  KEY `fornecedor_id` (`fornecedor_id`),
  CONSTRAINT `contratos_ibfk_1` FOREIGN KEY (`licitacao_id`) REFERENCES `licitacoes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `contratos_ibfk_2` FOREIGN KEY (`fornecedor_id`) REFERENCES `fornecedores` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contratos`
--

LOCK TABLES `contratos` WRITE;
/*!40000 ALTER TABLE `contratos` DISABLE KEYS */;
/*!40000 ALTER TABLE `contratos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos`
--

DROP TABLE IF EXISTS `documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tipo` enum('contrato','licitacao','aditivo') NOT NULL,
  `referencia_id` int NOT NULL,
  `nome_original` varchar(255) NOT NULL,
  `nome_arquivo` varchar(255) NOT NULL,
  `caminho` varchar(500) NOT NULL,
  `tamanho_kb` int DEFAULT NULL,
  `origem` enum('manual','importacao','pdf_diario') NOT NULL DEFAULT 'manual',
  `dados_extraidos` json DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos`
--

LOCK TABLES `documentos` WRITE;
/*!40000 ALTER TABLE `documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fornecedores`
--

DROP TABLE IF EXISTS `fornecedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fornecedores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `razao_social` varchar(255) NOT NULL,
  `nome_fantasia` varchar(255) DEFAULT NULL,
  `cnpj` char(18) NOT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cnpj` (`cnpj`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fornecedores`
--

LOCK TABLES `fornecedores` WRITE;
/*!40000 ALTER TABLE `fornecedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `fornecedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `importacoes_log`
--

DROP TABLE IF EXISTS `importacoes_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `importacoes_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tipo` enum('csv','excel','pdf') NOT NULL,
  `nome_arquivo` varchar(255) NOT NULL,
  `total_linhas` int NOT NULL DEFAULT '0',
  `importados` int NOT NULL DEFAULT '0',
  `erros` int NOT NULL DEFAULT '0',
  `detalhes_erros` json DEFAULT NULL,
  `usuario_id` int DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `importacoes_log_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `importacoes_log`
--

LOCK TABLES `importacoes_log` WRITE;
/*!40000 ALTER TABLE `importacoes_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `importacoes_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licitacoes`
--

DROP TABLE IF EXISTS `licitacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licitacoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `numero_processo` varchar(50) NOT NULL,
  `numero_licitacao` varchar(50) DEFAULT NULL,
  `objeto` text NOT NULL,
  `modalidade` enum('pregao_eletronico','pregao_presencial','concorrencia','tomada_de_precos','convite','dispensa','inexigibilidade','chamamento_publico') NOT NULL,
  `status` enum('em_andamento','aguardando_homologacao','homologada','deserta','fracassada','cancelada','suspensa') NOT NULL DEFAULT 'em_andamento',
  `valor_estimado` decimal(15,2) DEFAULT NULL,
  `data_abertura` date DEFAULT NULL,
  `data_prevista_conclusao` date DEFAULT NULL,
  `data_homologacao` date DEFAULT NULL,
  `responsavel` varchar(150) DEFAULT NULL,
  `link_portal` varchar(500) DEFAULT NULL,
  `observacoes` text,
  `origem` enum('manual','importacao','pdf') NOT NULL DEFAULT 'manual',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licitacoes`
--

LOCK TABLES `licitacoes` WRITE;
/*!40000 ALTER TABLE `licitacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `licitacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(150) NOT NULL,
  `email` varchar(150) NOT NULL,
  `senha_hash` varchar(255) NOT NULL,
  `nivel` enum('admin','visualizador') NOT NULL DEFAULT 'visualizador',
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  `ultimo_acesso` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'Administrador','admin@idaf.ac.gov.br','$2y$12$placeholder_trocar_no_primeiro_login','admin',1,NULL,'2026-07-31 13:56:23','2026-07-31 13:56:23');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_contratos`
--

DROP TABLE IF EXISTS `vw_contratos`;
/*!50001 DROP VIEW IF EXISTS `vw_contratos`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_contratos` AS SELECT 
 1 AS `id`,
 1 AS `numero`,
 1 AS `numero_processo`,
 1 AS `licitacao_id`,
 1 AS `fornecedor_id`,
 1 AS `fornecedor_nome`,
 1 AS `fornecedor_cnpj`,
 1 AS `objeto`,
 1 AS `modalidade`,
 1 AS `valor_total`,
 1 AS `saldo_atual`,
 1 AS `data_assinatura`,
 1 AS `data_inicio`,
 1 AS `data_vencimento`,
 1 AS `status_manual`,
 1 AS `gestor_nome`,
 1 AS `gestor_matricula`,
 1 AS `fiscal_nome`,
 1 AS `fiscal_matricula`,
 1 AS `dotacao_orcamentaria`,
 1 AS `observacoes`,
 1 AS `origem`,
 1 AS `created_at`,
 1 AS `updated_at`,
 1 AS `dias_para_vencer`,
 1 AS `status_vencimento`,
 1 AS `fornecedor_display`,
 1 AS `cnpj_display`,
 1 AS `valor_executado`,
 1 AS `percentual_executado`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_dashboard_resumo`
--

DROP TABLE IF EXISTS `vw_dashboard_resumo`;
/*!50001 DROP VIEW IF EXISTS `vw_dashboard_resumo`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_dashboard_resumo` AS SELECT 
 1 AS `total_contratos`,
 1 AS `vencidos`,
 1 AS `criticos`,
 1 AS `atencao`,
 1 AS `alerta`,
 1 AS `regulares`,
 1 AS `valor_total_carteira`,
 1 AS `saldo_total_carteira`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_contratos`
--

/*!50001 DROP VIEW IF EXISTS `vw_contratos`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_contratos` AS select `c`.`id` AS `id`,`c`.`numero` AS `numero`,`c`.`numero_processo` AS `numero_processo`,`c`.`licitacao_id` AS `licitacao_id`,`c`.`fornecedor_id` AS `fornecedor_id`,`c`.`fornecedor_nome` AS `fornecedor_nome`,`c`.`fornecedor_cnpj` AS `fornecedor_cnpj`,`c`.`objeto` AS `objeto`,`c`.`modalidade` AS `modalidade`,`c`.`valor_total` AS `valor_total`,`c`.`saldo_atual` AS `saldo_atual`,`c`.`data_assinatura` AS `data_assinatura`,`c`.`data_inicio` AS `data_inicio`,`c`.`data_vencimento` AS `data_vencimento`,`c`.`status_manual` AS `status_manual`,`c`.`gestor_nome` AS `gestor_nome`,`c`.`gestor_matricula` AS `gestor_matricula`,`c`.`fiscal_nome` AS `fiscal_nome`,`c`.`fiscal_matricula` AS `fiscal_matricula`,`c`.`dotacao_orcamentaria` AS `dotacao_orcamentaria`,`c`.`observacoes` AS `observacoes`,`c`.`origem` AS `origem`,`c`.`created_at` AS `created_at`,`c`.`updated_at` AS `updated_at`,(to_days(`c`.`data_vencimento`) - to_days(curdate())) AS `dias_para_vencer`,(case when (`c`.`status_manual` is not null) then `c`.`status_manual` when (`c`.`data_vencimento` < curdate()) then 'vencido' when ((to_days(`c`.`data_vencimento`) - to_days(curdate())) <= 30) then 'critico' when ((to_days(`c`.`data_vencimento`) - to_days(curdate())) <= 90) then 'atencao' when ((to_days(`c`.`data_vencimento`) - to_days(curdate())) <= 180) then 'alerta' else 'regular' end) AS `status_vencimento`,coalesce(`f`.`razao_social`,`c`.`fornecedor_nome`) AS `fornecedor_display`,coalesce(`f`.`cnpj`,`c`.`fornecedor_cnpj`) AS `cnpj_display`,(`c`.`valor_total` - `c`.`saldo_atual`) AS `valor_executado`,round((((`c`.`valor_total` - `c`.`saldo_atual`) / `c`.`valor_total`) * 100),1) AS `percentual_executado` from (`contratos` `c` left join `fornecedores` `f` on((`f`.`id` = `c`.`fornecedor_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_dashboard_resumo`
--

/*!50001 DROP VIEW IF EXISTS `vw_dashboard_resumo`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_dashboard_resumo` AS select count(0) AS `total_contratos`,sum((case when ((`contratos`.`data_vencimento` < curdate()) and (`contratos`.`status_manual` is null)) then 1 else 0 end)) AS `vencidos`,sum((case when (((to_days(`contratos`.`data_vencimento`) - to_days(curdate())) between 0 and 30) and (`contratos`.`status_manual` is null)) then 1 else 0 end)) AS `criticos`,sum((case when (((to_days(`contratos`.`data_vencimento`) - to_days(curdate())) between 31 and 90) and (`contratos`.`status_manual` is null)) then 1 else 0 end)) AS `atencao`,sum((case when (((to_days(`contratos`.`data_vencimento`) - to_days(curdate())) between 91 and 180) and (`contratos`.`status_manual` is null)) then 1 else 0 end)) AS `alerta`,sum((case when (((to_days(`contratos`.`data_vencimento`) - to_days(curdate())) > 180) and (`contratos`.`status_manual` is null)) then 1 else 0 end)) AS `regulares`,sum(`contratos`.`valor_total`) AS `valor_total_carteira`,sum(`contratos`.`saldo_atual`) AS `saldo_total_carteira` from `contratos` where ((`contratos`.`status_manual` not in ('encerrado','rescindido')) or (`contratos`.`status_manual` is null)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-31 14:53:52
